# Database
POSTGRES_DB=<db_name>
POSTGRES_USER=<username>
POSTGRES_PASSWORD=<password>
POSTGRES_HOST=<host_name>  # e.g. "db" for Docker, or "localhost"
POSTGRES_PORT=5432

# Django
SECRET_KEY=<your_secret_key>
DJANGO_SETTINGS_MODULE=config.settings.dev

# Optional (for Render or deployment)
RENDER_EXTERNAL_HOSTNAME=<domain>
