<div class="sidebar-block">
    <h5 class="font-weight-bold">Categories</h5>
    <ul class="list-unstyled">
        <li class="mb-2">
            <a href="{% url 'products:product-list' %}"
               class="{% if not current_category_slug %}text-primary font-weight-bold{% else %}text-secondary{% endif %}">
                All products
            </a>
        </li>

        {% for category in categories %}
            <li class="mb-2">
                <a href="{% url 'products:product_list_by_category' category.slug %}" class="{% if category.slug == current_category_slug %}text-primary font-weight-bold{% else %}text-secondary{% endif %}">{{ category.name }}</a>
            </li>
        {% endfor %}
    </ul>
</div>