{% extends "base.html" %}
{% block content %}
<div class="product-detail">
  <img src="{% if product.image %}{{ product.image.url }}{% else %}/static/img/img.png{% endif %}" alt="{{ product.name }}">
  <div class="info">
  <h2>{{ product.name }}</h2>
  <p>{{ product.description }}</p>
  <p>{{ product.price }} ₴</p>
  <form action="{% url 'products:add_to_cart' product.id %}" method="post">
  {% csrf_token %}
  {% if product.available %}
      <button class="add-to-cart">Add to cart</button>
  {% else %}
      <button class="out-of-stock" disabled>Not available</button>
  {% endif %}
  </form>
    </div>
</div>
{% endblock %}